html,
body {
  margin: 0;
  height: 100%;
}
#sketch canvas {
  display: block;
  max-width: 100%;
  height: auto;
}

#start-button {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#start-button:hover {
  background-color: #45a049;
}

#start-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
